@font-face {
    font-family: font1;
    src: url(fontsfree-net-migra-extralight.ttf);
    font-family: font2;
    src: url(tenorsans-regular.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font1, font2;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(104, 140, 104) 0%, rgb(212, 235, 210) 100%);
    font-family: font1, font2;
}

header {
    height: 70px;
    padding: 10px 0 10px;
    font-family: font1;
    font-style: italic;
    font-size: xx-large;
    font-weight: 400;
    padding-left: 135px;
}

::selection {
    color: rgb(216, 216, 216);
    background: rgb(71, 97, 76);
}

.container {
    max-width: 405px;
    padding: 25px 0 30px;
    margin: 137px auto;
    background: rgb(236, 235, 230);
    border-radius: 7px;
}

.new-to-do {
    height: 52px;
    padding: 0 25px;
    position: relative;
}

.new-to-do img {
    position: absolute;
    top: 50%;
    transform: translate(17px, -50%);
}

.new-to-do input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 20px 0 53px;
    border: 1px solid wheat;
  }

.new-to-do input:focus, .new-to-do input.active {
  padding-left: 52px;
  border: 2px solid rgb(151, 176, 154);
}
.new-to-do input::placeholder {
  color: #bfbfbf;
}
.controls, li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls {
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}

.filters span {
  margin: 0 8px;
  font-size: 17px;
  color: #444444;
  cursor: pointer;
}

.filters span:first-child {
  margin-left: 0;
}

.filters span.active {
  color: rgb(104, 140, 104);
}

.controls .clear {
  border: none;
  opacity: 0.6;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  transition: transform 0.25s ease;
  background: linear-gradient(135deg, rgb(83, 124, 83) 0%, rgb(149, 189, 144) 100%);
}
.clear.active {
  opacity: 0.9;
  pointer-events: auto;
}
.clear:active {
  transform: scale(0.93);
}

.task-box {
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
}
.task-box.overflow {
  overflow-y: auto;
  max-height: 300px;
}
.task-box::-webkit-scrollbar {
  width: 5px;
}
.task-box::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.task-box::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}
.task-box .tasks {
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}

.task-box .tasks:last-child{
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.task-box .tasks label{
  display: flex;
  align-items: flex-start;
}
.tasks label input{
  margin-top: 6px;
  margin-right: 12px;
  accent-color: rgb(212, 235, 210);
}

.tasks .settings {
    cursor: pointer;
}

.tasks label p{
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
}
.tasks label p.checked{
  text-decoration: line-through;
}
.task-box .settings{
  position: relative;
  cursor: pointer;
}
.settings :where(i, li){
  cursor: pointer;
}
.settings .task-menu {
  z-index: 10;
  right: -5px;
  bottom: -65px;
  padding: 5px 0;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.2s ease;
}
.task-box .tasks:last-child .task-menu{
  bottom: 0;
  transform-origin: bottom right;
}
.task-box .tasks:first-child .task-menu{
  bottom: -65px;
  transform-origin: top right;
}
.task-menu.show{
  transform: scale(1);
}
.task-menu li{
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  justify-content: flex-start;
}

.task-menu li i {
    padding-right: 8px;
  }

.task-menu li:last-child{
  margin-bottom: 0;
}
.settings li:hover{
  background: #f5f5f5;
}
.settings li i{
  padding-right: 8px;
}
@media (max-width: 400px) {
  body{
    padding: 0 10px;
  }
  .container {
    padding: 20px 0;
  }
  .filters span{
    margin: 0 5px;
  }
  .new-to-do {
    padding: 0 20px;
  }
  .controls {
    padding: 18px 20px;
  }
  .task-box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }
  .tasks label input{
    margin-top: 4px;
  }
}